*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

body
{
    background-color:black;
}

table 
{
    margin-top: 1%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    position: absolute;
    top: 5%;

}
th, td 
{
    border: 2px solid #dddddd;
    text-align: center;
    padding: 30px;
}
th 
{
    background-color: black;
    color: white;
}
.video-main-container
{
    position: relative;
    overflow-x: hidden;
 
}